<!DOCTYPE html>
<html>
  <head>
    <title>Blocometrics</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <% if user_signed_in? %>
        <ul class="sign-up-in link-to-text-color">
          <li id="signed-in-as" class="floatRt">
            Signed in as: <strong ><%= current_user.email %></strong>
          </li>
          <li class="floatRt">
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link link-to-text-color' %>
        |
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link link-to-text-color'  %>
        </li>
        </ul>
      <% else %>
        <ul class="sign-up-in">
          <li class="floatRt">
          <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link link-to-text-color'  %>
          <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link link-to-text-color'  %>
          </li>
        </ul>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
